TM_SECRET_KEY=secret
TM_DEBUG=False
TM_DOMAIN= #https://your_domain.com
TM_ALLOWED_HOSTS= #localhost,127.0.0.1,your_domain.com      optional, default DOMAIN + TM_ALLOWED_HOSTS
TM_CSRF_TRUSTED= #https://your_domain.com             optional, default DOMAIN + TM_CSRF_TRUSTED

# Database configuration
POSTGRES_DB=#DB name
POSTGRES_USER=#DB owner's username
POSTGRES_PASSWORD=#DB password
POSTGRES_HOST=#DB host
POSTGRES_PORT=5432
