TM_SECRET_KEY=secret
TM_DEBUG=False
TM_DOMAIN= #https://your_domain.com
TM_ALLOWED_HOSTS= #localhost,127.0.0.1,your_domain.com      optional, default DOMAIN + TM_ALLOWED_HOSTS
TM_CSRF_TRUSTED= #https://your_domain.com             optional, default DOMAIN + TM_CSRF_TRUSTED

# Database configuration
POSTGRES_DB=#DB name
POSTGRES_USER=#DB owner's username
POSTGRES_PASSWORD=#DB password
POSTGRES_HOST=#DB host
POSTGRES_PORT=#DB Port, 5432 used as default
TELEGRAM_KEY=#Telegram Bot API key 
REMINDER_CHAT_IDS=#Telegram chat IDs, to which the reminders will be sent
MQ_BROKER_URL=#RabbitMQ broker URL
MQ_DEFAULT_USER=#RabbitMQ default user, usually identical to the one in URL
MQ_DEFAULT_PASS=#RabbitMQ default user password, usually identical to the one in URL