{% extends "layout.html" %}

{% block title %}
    Task #{{ task.id }}: {{ task.title }}
{% endblock %}

{% block content %}
<section>
    <section>
        <form action="{% url 'tasks:home' %}" method="get">
            <button type="submit">Back</button>
        </form>
        <article>
            <h4>Task #{{ task.id }}</h4>
            <h2>{{ task.title }}</h2>
            <h3>Status: {{ task.status }}</h3>
            <h3>Priority: {{ task.priority }}</h3>
            <h4>Due Date: {{ task.due_date }}</h4>
            <p>{{ task.description}}</p>
        </article>
    </section>
</section>
{% endblock %}