{% extends "layout.html" %}

{% block title %}
    Tasks
{% endblock %}

{% block content %}
<section>
    <section>
        <form action="{% url 'users:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        <form action="{% url 'tasks:create_task' %}">
            <button type="submit">Create Task</button>
        </form>
        <h1>Tasks</h1>
            {% for task in tasks %}
            <article>
                <h2>{{ task.title }}</h2>
                <p>{{ task.status }}</p>
                <p>{{ task.priority }}</p>
                <p>{{ task.description }}</p>
                <p>{{ task.due_date }}</p>
            </article>
            {% endfor %}
        </section>
{% endblock %}